POKEMON_TCG_API_KEY=PASTE_YOUR_LOCAL_DEVELOPMENT_KEY_HERE
APITCG_API_KEY=PASTE_YOUR_LOCAL_DEVELOPMENT_KEY_HERE
EBAY_CLIENT_ID=PASTE_YOUR_SANDBOX_CLIENT_ID_HERE
EBAY_CLIENT_SECRET=PASTE_YOUR_SANDBOX_CLIENT_SECRET_HERE
